# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Environments
env/
venv/
car_defects_env/

# Model weights
*.pt

# Gradio or Streamlit cache
*.gradio/
.gradio/
.streamlit/

# Jupyter Notebook metadata
*.ipynb_checkpoints/

# Data & training outputs
runs/
data_temp.yaml

# VS Code settings
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Log files
*.log

# Ignore model outputs and checkpoints
best.pt
